# Ignorar todo por defecto
*

# Permitir directorios (necesario para que Git los recorra)
!*/

# --- Archivos raíz ---
!CMakeLists.txt
!sdkconfig

# --- main ---
!main/
!main/CMakeLists.txt
!main/main.c

# --- components ---
!components/

# led_strip (todo incluido)
!components/led_strip/
!components/led_strip/**

# rgb_led
!components/rgb_led/
!components/rgb_led/CMakeLists.txt
!components/rgb_led/rgb_led.c
!components/rgb_led/include/
!components/rgb_led/include/rgb_led.h

# delay
!components/delay/
!components/delay/CMakeLists.txt
!components/delay/delay.c
!components/delay/include/
!components/delay/include/delay.h
